.allProjectsSection>div:nth-child(2) {
    background-color: var(--white);
    border-radius: 10px;
    overflow-x: scroll;
}

.allProjectsSection>div:nth-child(2)>div {
    width: 1200px;
    padding: 0px 10px;
}


/* labels */
.allProjectsSection .labels {
    width: fit-content;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    border-bottom: 3px solid var(--border-color);
}

.allProjectsSection .labels>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.allProjectsSection .labels>div:nth-child(1) {
    min-width: 450px;
}

.allProjectsSection .labels>div:nth-child(2),
.allProjectsSection .labels>div:nth-child(3),
.allProjectsSection .labels>div:nth-child(4),
.allProjectsSection .labels>div:nth-child(6) {
    min-width: 200px;
}

.allProjectsSection .labels>div:nth-child(5) {
    min-width: 250px;
}

.allProjectsSection .labels>div:nth-child(7) {
    min-width: fit-content;
}

.allProjectsSection .labels>div p {
    flex: 1;
}

.allProjectsSection .labels>div i {
    display: flex;
}

.allProjectsSection .labels>div i svg {
    width: 20px;
}

/* Project */
.allProjectsSection .project {
    height: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.allProjectsSection .project>div:nth-child(1) {
    min-width: 450px;
}

.allProjectsSection .project>div:nth-child(2),
.allProjectsSection .project>div:nth-child(3),
.allProjectsSection .project>p:nth-child(4),
.allProjectsSection .project>p:nth-child(6) {
    min-width: 200px;
}

.allProjectsSection .project>p:nth-child(5) {
    min-width: 250px;
}

.allProjectsSection .project>p:nth-child(7) {
    min-width: fit-content;
}


.allProjectsSection .progressBar {
    width: 100%;
    height: 5px;
    background-color: var(--main-clr-hover);
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.allProjectsSection .progressBar>div {
    height: 100%;
    background-color: var(--main-clr);
}

.allProjectsSection .project .pm img {
    width: 40px;
    border-radius: 50%;
}