.allProjectsSection>div:nth-child(2) {
    background-color: var(--white);
    border-radius: 10px;
    overflow-x: scroll;
    padding: 0 10px 0 10px;
    margin: 0 0 25px 0;
}


/* ================================ */
/* ================================ */
/* ================================ */
/* labels */
.allProjectsSection .labels {
    width: fit-content;
    height: 75px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    border-bottom: 3px solid var(--border-color);
}

.allProjectsSection .labels>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.allProjectsSection .labels>div {
    min-width: 200px;
}

.allProjectsSection .labels>div:nth-child(1) {
    min-width: 350px;
}

.allProjectsSection .labels>div:nth-child(5) {
    min-width: 250px;
}

.allProjectsSection .labels>div:nth-child(6) {
    min-width: 150px;
}

.allProjectsSection .labels>div:nth-child(7) {
    min-width: 120px;
}

.allProjectsSection .labels>div p {
    flex: 1;
}

.allProjectsSection .labels>div i {
    display: flex;
}

.allProjectsSection .labels>div i svg {
    width: 20px;
}

/* =========================== */
/* =========================== */
/* =========================== */
/* Project */
.allProjectsSection .project {
    width: fit-content;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-color);
}

.allProjectsSection .project>div {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
}

/* Title */
.allProjectsSection .project .title {
    min-width: 350px;
    flex-direction: column;
    gap: 5px;
}

.allProjectsSection .project .title p:nth-child(1) {
    font-weight: 600;
}

/* progress */
.allProjectsSection .progress {
    flex-direction: column;
    gap: 5px;
}

.allProjectsSection .progressBar {
    width: 100%;
    height: 5px;
    background-color: var(--main-clr-hover);
    border-radius: 5px;
    overflow: hidden;
}

.allProjectsSection .progressBar>div {
    height: 100%;
    background-color: var(--main-clr);
}

/* Project manager */
.allProjectsSection .project .pm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.allProjectsSection img {
    width: 40px;
    border-radius: 50%;
}

/* Team */
.allProjectsSection .project .team {
    min-width: 250px;
}

.allProjectsSection .project .team {
    display: flex;
}

.allProjectsSection .project .team img:not(.first) {
    margin-left: -15px;
}

/* Status */
.allProjectsSection .project .status {
    min-width: 150px;
}

.allProjectsSection .project .status {
    display: flex;
    align-items: center;
}


.allProjectsSection .project .status p {
    width: 90px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 0;

}

.allProjectsSection .project .status .active {
    color: var(--success);
    border-color: var(--success);
}

.allProjectsSection .project .status .inactive {
    color: var(--gray);
    border-color: var(--gray);
}


/* Buttons */
.allProjectsSection .project .btns {
    min-width: 100px;
}

.allProjectsSection .project .btns {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}

.allProjectsSection .project .btns button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
    padding: 10px;
}

.allProjectsSection .project .btns .details {
    border-color: var(--blue);
    color: var(--blue);
}

.allProjectsSection .project .btns .details:hover {
    background-color: var(--blue);
}

.allProjectsSection .project .btns .edit {
    border-color: var(--gray);
    color: var(--gray);
}

.allProjectsSection .project .btns .edit:hover {
    background-color: var(--gray);
}

.allProjectsSection .project .btns .archive {
    border-color: var(--danger);
    color: var(--danger);
}

.allProjectsSection .project .btns .archive:hover {
    background-color: var(--danger);
}

.allProjectsSection .project .btns button:hover {
    color: var(--white);
}


/* ========================== */
/* ========================== */
/* ========================== */
/* Footer */
.allProjectsSection .sectionFooter {
    width: 1564px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.allProjectsSection .sectionFooter .pagination {
    display: flex;
}

.allProjectsSection .sectionFooter .pagination .pages {
    display: flex;
    align-items: center;
}


.allProjectsSection .sectionFooter .pagination .pages p {
    font-weight: 600;
    color: var(--gray);
    border: 2px solid var(--main-clr);
    border-left: none;
    cursor: pointer;
    padding: 10px 15px;
}

.allProjectsSection .sectionFooter .pagination .pages p:hover {
    background-color: var(--gray);
    color: var(--white);
}

.allProjectsSection .sectionFooter .pagination button {
    background-color: transparent;
    border: 2px solid var(--main-clr);
    color: var(--main-clr);
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    padding: 10px;
}

.allProjectsSection .sectionFooter .pagination button:nth-child(3) {
    border-left: none;
}

.allProjectsSection .sectionFooter .pagination button:hover {
    background-color: var(--main-clr);
    color: var(--white);
}