.editProject .editForm {
    width: fit-content;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 10px;
    padding: 20px;
}


.editForm>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.editForm label {
    font-weight: 600;
}


/* name */
.editForm input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    outline: none;
    padding: 0 0 0 5px;
}

.editForm input::placeholder {
    color: var(--gray);
    opacity: .25;
}

/* note-editor */
.editForm .quill-editor>div>div:nth-child(2) {
    min-height: 200px;
}

/* date */
.editForm .date {
    flex-direction: row;
}