/* Projects */
.ManageProjectsSection .projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto-fill;
    gap: 25px;
    margin: 0 0 25px 0;
}

.ManageProjectsSection .project {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
}

.ManageProjectsSection .project>div {
    display: flex;
    align-items: center;
}

/* Header */
.ManageProjectsSection .project>div:nth-child(1) {
    justify-content: space-between;
    position: relative;
}

.ManageProjectsSection .project>div:nth-child(1) .name {
    font-weight: 600;
    font-size: 1.25rem;
}

.ManageProjectsSection .project>div:nth-child(1) .priority {
    font-weight: 400;
    font-size: .8rem;
}

.ManageProjectsSection .project>div:nth-child(1) i {
    font-size: 1rem;
}

.ManageProjectsSection .project>div:nth-child(1) i path {
    fill: var(--main-clr);
}

.ManageProjectsSection .project .dropDown {
    width: 90px;
    background-color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
    box-shadow: var(--shadow);
    transform-origin: top;
    transition: .25s;
    transform: scaleY(0);
    padding: 10px 0;
}

.project .dropDown button {
    background-color: transparent;
    color: var(--white);
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.project .dropDown button:hover {
    text-decoration: 2px underline;
}

/* description */
.ManageProjectsSection .project>div:nth-child(2) {
    height: 100%;
    align-items: flex-start;
    font-size: 1rem;
    margin: 15px 0;
}

/* Team */
.ManageProjectsSection .project>div:nth-child(3) {
    justify-content: space-between;
}

.ManageProjectsSection .project>div:nth-child(3)>div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
}

.ManageProjectsSection .project img {
    width: 30px;
    border: 2px solid var(--main-clr);
    border-radius: 50%;
    cursor: pointer;
    transition: .25s;
}

.ManageProjectsSection .project img:not(:first-child) {
    margin: 0 0 0 -10px;
}

.ManageProjectsSection .project img:hover {
    transform: translateY(-10px);
}

.ManageProjectsSection .project>div:nth-child(3) button {
    background-color: var(--main-clr);
    color: var(--white);
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
    padding: 5px;
}

.ManageProjectsSection .project>div:nth-child(3) button:hover {
    background-color: transparent;
    color: var(--main-clr);
    border-color: var(--main-clr);
}

.ManageProjectsSection .project>div:nth-child(3) .noTeam {
    color: var(--gray);
    font-size: 1.1rem;
    font-weight: 600;
}

/* Progress */
.ManageProjectsSection .project .progress {
    min-height: 5px;
    background-color: var(--main-clr-hover);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.ManageProjectsSection .project .progress>p {
    height: 100%;
    background-color: var(--main-clr);
    border-radius: 5px;
    position: absolute;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

/* Tickets */
.ManageProjectsSection .project>div:nth-child(4) {
    display: flex;
    gap: 5px;
}

/* *************************** */
/* *************************** */
/* *************************** */

.ManageProjectsSection .project .showDropDown {
    transform: scaleY(1);
}