.DocumentDetails .details {
    width: 100%;
    display: flex;
    gap: 25px;
}


/* ================================ */
/* ================================ */
/* ================================ */
/* First Column */
.DocumentDetails .details .first-column {
    flex: .6;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.DocumentDetails .details .first-column>div {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

/* row one */
.details .row-one {
    gap: 25px;
}

.details .row-one h1 {
    font-size: 2.5rem;
}

.details .row-one .progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.details .row-one .progress>div {
    width: 100%;
    height: 20px;
    background-color: var(--main-clr-hover);
    position: relative;
}

.details .row-one .progress .thumb {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-clr);
    position: absolute;
}

.details .row-one .progress .thumb p {
    color: var(--white);
    font-weight: 600;
}

.details .row-one .action {
    display: flex;
    gap: 5px;
}

.details .row-one button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    transition: .25s;
    cursor: pointer;
    padding: 10px 15px;
}

.details .row-one .action button:nth-child(1) {
    border-color: var(--orange);
    color: var(--orange);
}

.details .row-one .action button:nth-child(1):hover {
    color: var(--white);
    background-color: var(--orange);
}

.details .row-one .action button:nth-child(2) {
    border-color: var(--danger);
    color: var(--danger);
}

.details .row-one .action button:nth-child(2):hover {
    color: var(--white);
    background-color: var(--danger);
}

/* row-two */
.details .row-two {
    gap: 25px;
}

.details .row-two>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .row-two>div p:nth-child(2) {
    border-radius: 5px;
    font-size: .75rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px 10px;
}

.details .row-two .created p:nth-child(2),
.details .row-two .deadline p:nth-child(2) {
    color: var(--gray);
    border: 2px solid var(--border-color);

}

.details .row-two .priority p:nth-child(2),
.details .row-two .status p:nth-child(2) {
    border: 2px solid;
}

.details .row-two .priority .urgent {
    color: var(--danger);
    border-color: var(--danger);
}

.details .row-two .priority .high {
    color: var(--orange);
    border-color: var(--orange);
}

.details .row-two .priority .low {
    color: var(--gray);
    border-color: var(--gray);
}

.details .row-two .status .active {
    color: var(--success);
    border-color: var(--success);
}

.details .row-two .status .inactive {
    color: var(--gray);
    border-color: var(--gray);
}

/* row-three */
.details .row-three {
    gap: 5px;
}

.details .row-three .manager,
.details .row-three .user {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--border-color);
    padding: 15px 0;
}

.details .row-three .manager img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.details .row-three .managerInfo p {
    color: var(--gray);
}

.details .row-three .managerInfo .name {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
}

.details .row-three .noManager {
    border-bottom: 2px solid var(--border-color);
    padding: 10px 0;
}

.details .row-three .noManager p {
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 0 5px 0;
}


.details .row-three .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.details .row-three .user {
    border-bottom: none;
}

.details .row-three .user .role {
    color: var(--gray);
    opacity: .75;
}

.details .row-three button {
    width: fit-content;
    background-color: var(--main-clr);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    padding: 10px 15px;
}

.details .row-three button:hover {
    background-color: transparent;
    color: var(--main-clr);
    border-color: var(--main-clr);
}



/* ================================ */
/* ================================ */
/* ================================ */
/* second Column */
.DocumentDetails .details .second-column {
    height: fit-content;
    max-width: 800px;
    flex: 1;
    background-color: var(--white);
    overflow-x: scroll;
    border-radius: 10px;
}

.DocumentDetails .details .second-column>div {
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.DocumentDetails .labels {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0px 5px;
}

.DocumentDetails .labels div:nth-child(1) {
    min-width: 250px;
}

.DocumentDetails .labels div:nth-child(2) {
    min-width: 150px;
}

.DocumentDetails .labels div:nth-child(3) {
    min-width: 150px;
}

.DocumentDetails .labels div:nth-child(4) {
    min-width: 150px;
}

.DocumentDetails .labels div:nth-child(5) {
    min-width: 100px;
}

.DocumentDetails .labels div:nth-child(6) {
    flex: 1;
}

/* tickets */
.second-column .tickets>div {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
    padding: 15px 5px 15px 5px;
}


.DocumentDetails .tickets>div div:nth-child(1) {
    min-width: 250px;
}

.DocumentDetails .tickets>div div:nth-child(2) {
    min-width: 150px;
}

.DocumentDetails .tickets>div div:nth-child(3) {
    min-width: 150px;
}

.DocumentDetails .tickets>div div:nth-child(4) {
    min-width: 150px;
}

.DocumentDetails .tickets>div div:nth-child(5) {
    min-width: 100px;
}

/* ticket */
.tickets .title {
    font-weight: 600;
}

.tickets .dev {
    color: var(--gray);
    font-weight: 600;
}

/* Status */
.tickets .status p,
.tickets .priority p {
    width: fit-content;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.tickets .development {
    color: var(--blue);
    border-color: var(--blue);
}

.tickets .resolved {
    color: var(--success);
    border-color: var(--success);
}

.tickets .new {
    color: var(--gray);
    border-color: var(--gray);
}

/* Priority */
.tickets .urgent {
    color: var(--danger);
    border-color: var(--danger);
}

.tickets .high {
    color: var(--orange);
    border-color: var(--orange);
}

.tickets .low {
    color: var(--gray);
    border-color: var(--gray);
}


/* Buttons */
.DocumentDetails .tickets .btns {
    min-width: 100px;
}

.DocumentDetails .tickets .btns {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}

.DocumentDetails .tickets .btns button {
    height: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
    padding: 10px;
}

.DocumentDetails .tickets .btns .details {
    border-color: var(--blue);
    color: var(--blue);
}

.DocumentDetails .tickets .btns .details:hover {
    background-color: var(--blue);
}

.DocumentDetails .tickets .btns .edit {
    border-color: var(--gray);
    color: var(--gray);
}

.DocumentDetails .tickets .btns .edit:hover {
    background-color: var(--gray);
}

.DocumentDetails .tickets .btns .archive {
    border-color: var(--danger);
    color: var(--danger);
}

.DocumentDetails .tickets .btns .archive:hover {
    background-color: var(--danger);
}

.DocumentDetails .tickets .btns button:hover {
    color: var(--white);
}

/* pagination */
.DocumentDetails .sectionFooter {
    width: fit-content;
}

/* *************************** */
/* *************************** */
/* *************************** */
/* media queries */
@media screen and (max-width:1000px) {
    .DocumentDetails .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
    }

    /* second Column */
    .DocumentDetails .details .second-column {
        max-width: 100%;
    }
}