.alertContainer {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
}


.alertContainer>div {
    width: 100%;
    height: 100%;
    transition: .25s;
}


.alertContainer img {
    width: 200px;
    position: absolute;
    bottom: 250px;
}




@keyframes blinker {
    0% {
        opacity: .5;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: .5;
    }
}


/* ************************* */
/* ************************* */
/* Javascript */
.alertOn {
    display: flex;
}

.alertOn>div {
    display: flex;
    animation: blinker 1.75s ease-in-out infinite;
}