.alertContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: -50px;
    transition: .25s;
}

.alertContainer>p {
    min-width: 200px;
    color: var(--white);
    font-weight: 600;
    position: absolute;
    padding: 5px;
}



/* ************************* */
/* ************************* */
/* Javascript */
.alertOn {
    top: 25px;
}