.checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
}

.checkboxChecked {
    background-color: var(--blue);
    border-color: transparent;
}

.checkboxChecked svg path {
    fill: var(--white);
}