/* ========================== */
/* ========================== */
/* ========================== */
/* Footer */
.sectionFooter {
    width: 1595px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.sectionFooter .pagination {
    display: flex;
}

.sectionFooter .pagination .pages {
    display: flex;
    align-items: center;
}


.sectionFooter .pagination .pages p {
    font-weight: 600;
    color: var(--gray);
    border: 2px solid var(--main-clr);
    border-left: none;
    cursor: pointer;
    padding: 10px 15px;
}

.sectionFooter .pagination .pages p:nth-child(1) {
    border-left: 2px solid var(--main-clr);
}

.sectionFooter .pagination .pages p:hover {
    background-color: var(--gray);
    color: var(--white);
}

.sectionFooter .pagination button {
    background-color: transparent;
    border: 2px solid var(--main-clr);
    color: var(--main-clr);
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    padding: 10px;
}

.sectionFooter .pagination .nextPage {
    border-left: none;
}

.sectionFooter .pagination .prevPage {
    border-right: none;
}

.sectionFooter .pagination button:hover {
    background-color: var(--main-clr);
    color: var(--white);
}

.sectionFooter .pagination .pages .viewedPage {
    background-color: var(--gray);
    color: var(--white);
    pointer-events: none;
}