.settingsModal {
    width: 200px;
    background-color: var(--main-clr);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transform-origin: right;
    transform: scaleX(0);
    transition: .25s;
    padding: 10px 0 10px 15px;
}


.settingsModal ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.settingsModal li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .25s;
}

.settingsModal svg {
    font-size: .8rem;
}

.settingsModal path {
    fill: var(--white);
}

.settingsModal li:hover {
    opacity: .7;
}

/* ****************************** */
/* ****************************** */
/* ****************************** */
/* ****************************** */
/* Javascript */
.showSettings {
    transform: scaleX(1);
}