.loginFormContainer {
    width: 380px;
    background-color: var(--white);
    padding: 40px 25px 50px 25px;
    position: relative;
    left: 50%;
    border-radius: 10px;
}

.loginFormContainer>div {
    display: flex;
    flex-direction: column;
}

.loginFormContainer h2 {
    color: #102B3F;
    margin-bottom: 40px;
}

.loginFormContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, .55);
    padding-bottom: 25px;
}

.loginFormContainer form>div {
    width: inherit;
}

.loginFormContainer input {
    width: 100%;
    height: 40px;
    color: #102B3F;
    border: 1px solid rgba(128, 128, 128, .55);
    border-radius: 5px;
    outline: none;
    transition: .25s;
    font-weight: 600;
    font-size: .9rem;
    padding-left: 10px;
}

.loginFormContainer input::placeholder {
    opacity: .5;
    color: rgba(128, 128, 128, .8);
}


.loginFormContainer input:focus {
    border: 1px solid #102B3F;
}

.loginFormContainer button {
    background-color: var(--main-clr);
    color: var(--white);
    font-size: .9rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .25s;
}

.loginFormContainer .loginBtn {
    padding: 10px 40px;
}

.loginFormContainer .demoBtn {
    align-self: center;
    margin-top: 25px;
    padding: 12px 30px;
}

.loginFormContainer button:hover {
    background-color: var(--white);
    color: var(--main-clr);
    border: 2px solid var(--main-clr);
}

.loginFormContainer .errorMessage {
    color: var(--danger);
    font-weight: 600;
    font-size: .8rem;
    position: absolute;
    top: 340px;
}