.navbarContainer {
    width: 100%;
    max-width: 325px;
    height: calc(100vh - 82px);
    background-color: var(--white);
    border-right: 1px solid var(--border-color);
    overflow-y: scroll;
}

.navbarContainer::-webkit-scrollbar {
    display: none;
}


.navbarContainer .info {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 10px;
    padding: 15px 0px 25px 25px;
}

.navbarContainer .info>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.navbarContainer .info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbarContainer .info .name {
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.navbarContainer .info .role {
    color: var(--teal);
    display: flex;
    justify-content: center;
    font-size: .7rem;
    text-transform: uppercase;
    border: 1px solid var(--teal);
    border-radius: 5px;
    padding: 5px 10px;
}


/* navigation */
.navigationContainer .head {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 10px 0;
}

.navigationContainer .head h3 {
    width: 96px;
    color: var(--blue);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}


.navigationContainer .head i {
    width: 50px;
    transition: border-bottom 0s;
    padding: 10px 15px 8px 15px;
    margin-left: -1px;
}

.navigationContainer .head svg {
    transform: scale(.7);
}

.navigationContainer .head i:hover {
    background-color: var(--blue-hover);
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    opacity: .5;
}

.navigationContainer .head i:hover svg path {
    fill: var(--blue)
}

.navigationContainer .head .filler {
    height: 100%;
    width: calc(100% - 145px);
    position: absolute;
    right: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--border-color);
}

/* List */
.navigationContainer .list {
    display: flex;
    flex-direction: column;
}

.navigationContainer .list>li {
    display: flex;
    align-items: center;
    gap: 15px;
    border-left: 5px solid var(--blue);
    cursor: pointer;
    padding: 15px 10px 15px 15px;
    margin-bottom: 10px;
}

.navigationContainer .list>li:nth-child(3),
.navigationContainer .list>li:nth-child(5),
.navigationContainer .list>li:nth-child(7),
.navigationContainer .list>li:nth-child(9) {
    margin-bottom: 0px;
}

.navigationContainer .list>li:hover {
    background-color: var(--blue-hover);
}

.navigationContainer .list>li .arrow {
    font-size: .9rem;
    transform-origin: center;
    transform: rotate(90deg);
    transition: .5s;
    margin-left: auto;

}

.navigationContainer .list>li .arrow path {
    fill: var(--gray);
}

.navigationContainer .list>li i svg path {
    fill: var(--blue);
}

/* options */
.navigationContainer .options {
    max-height: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    padding: 0px 0 10px 25px;
}

.navigationContainer .options span:nth-child(1) {
    margin-top: 15px;
}

.navigationContainer .options span {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navigationContainer .options span p {
    color: var(--gray);
    cursor: pointer;
}

.navigationContainer .options span p:hover {
    text-decoration: 2px underline;
}

.navigationContainer .options span svg {
    font-size: .5rem;
}

.navigationContainer .options span svg path {
    fill: var(--black);
}

/* skins */
.navigationContainer .skins {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0 0 15px;
}

.navigationContainer .skins h4 {
    margin-bottom: 5px;
}

.navigationContainer .skins span {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.navigationContainer .skins span .dot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigationContainer .skins span i svg path {
    fill: inherit;
}

.navigationContainer .skins span i:hover {
    opacity: 1;
}

.navigationContainer .skins span .check {
    position: absolute;
    fill: var(--white);
    font-size: .8rem;
}


/* ************************************ */
/* ************************************ */
/* ************************************ */
.navigationContainer .list>.clicked {
    background-color: var(--blue-hover);
}

.navigationContainer .list>li .clickedArrow {
    transform: rotate(0deg);
}

.navigationContainer .openDropDown {
    max-height: 324px;
}

.navigationContainer .menuOnHead h3 {
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    pointer-events: none;
}

.navigationContainer .menuOnHead i {
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.navigationContainer .menuOffHead h3 {
    color: var(--black);
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.navigationContainer .menuOffHead h3:hover {
    color: var(--blue);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    opacity: .5;
}

.navigationContainer .menuOffHead i {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    pointer-events: none;
}

.navigationContainer .menuOffHead i path {
    fill: var(--blue);
}