/* *********************** */
/* *********************** */
/* Header */
/* Drop down */
.allTicketsSection .sectionHeader {
    width: 1345px;
}


/* ================================ */
/* ================================ */
/* ================================ */
/* labels */
.allTicketsSection .labels>div {
    min-width: 150px;
}

.allTicketsSection .labels>div:nth-child(3) {
    min-width: 350px;
}


.allTicketsSection .labels>div:nth-child(7) {
    min-width: 120px;
}

/* =========================== */
/* =========================== */
/* =========================== */
/* Ticket */
.allTicketsSection .ticket>div {
    min-width: 150px;
    display: flex;
    justify-content: flex-start;
}

/* Title */
.allTicketsSection .ticket .title {
    min-width: 350px;
    font-weight: 600;
}


/* Status */
.allTicketsSection .ticket .status {
    display: flex;
    align-items: center;
}


.allTicketsSection .ticket .status p,
.allTicketsSection .ticket .priority p {
    width: fit-content;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;

}

.allTicketsSection .ticket .status .development {
    color: var(--blue);
    border-color: var(--blue);
}

.allTicketsSection .ticket .status .resolved {
    color: var(--success);
    border-color: var(--success);
}

.allTicketsSection .ticket .status .new {
    color: var(--gray);
    border-color: var(--gray);
}

/* Priority */
.allTicketsSection .ticket .priority .urgent {
    color: var(--danger);
    border-color: var(--danger);
}

.allTicketsSection .ticket .priority .high {
    color: var(--orange);
    border-color: var(--orange);
}

.allTicketsSection .ticket .priority .low {
    color: var(--gray);
    border-color: var(--gray);
}

/* Buttons */
.allTicketsSection .ticket .btns {
    min-width: 100px;
}

.allTicketsSection .ticket .btns {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}

.allTicketsSection .ticket .btns button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
    padding: 10px;
}

.allTicketsSection .ticket .btns .details {
    border-color: var(--blue);
    color: var(--blue);
}

.allTicketsSection .ticket .btns .details:hover {
    background-color: var(--blue);
}

.allTicketsSection .ticket .btns .edit {
    border-color: var(--gray);
    color: var(--gray);
}

.allTicketsSection .ticket .btns .edit:hover {
    background-color: var(--gray);
}

.allTicketsSection .ticket .btns .archive {
    border-color: var(--danger);
    color: var(--danger);
}

.allTicketsSection .ticket .btns .archive:hover {
    background-color: var(--danger);
}

.allTicketsSection .ticket .btns button:hover {
    color: var(--white);
}



/* ========================== */
/* ========================== */
/* ========================== */
/* Footer */
.allTicketsSection .sectionFooter {
    width: 1345px;
}