/* project */
.ticketDetails .project {
    display: flex;
    gap: 5px;
}

.ticketDetails .project p:nth-child(1) {
    font-weight: 600;
}

/* developer */
.ticketDetails .dev>p {
    font-weight: 600;
    margin-bottom: 5px;
}

.ticketDetails .dev>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ticketDetails .dev img {
    width: 35px;
    border-radius: 50%;
}

/* buttons */
.ticketDetails .action .assignBtn {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.ticketDetails .action .assignBtn:hover {
    color: var(--white);
    background-color: var(--blue);
}

/* status & type*/
.ticketDetails .status .new,
.ticketDetails .type .changeRequest,
.ticketDetails .type .generalTask,
.ticketDetails .type .workTask {
    color: var(--gray);
    border: 2px solid var(--gray);
}

.ticketDetails .status .development,
.ticketDetails .type .enhancement {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.ticketDetails .status .resolved,
.ticketDetails .type .newDevelopment {
    color: var(--success);
    border: 2px solid var(--success);
}

.ticketDetails .type .defect {
    color: var(--danger);
    border: 2px solid var(--danger);
}