.manageRolesSection>div {
    display: flex;
}

/* *********************** */
/* *********************** */
/* Header */
/* Drop down */
.manageRolesSection .sectionHeader {
    width: 100%;
}

/* ================================ */
/* ================================ */
/* ================================ */
/* labels */
.manageRolesSection .labels>div {
    min-width: 200px;
}

.manageRolesSection .labels>div:nth-child(1) {
    min-width: 80px;
}

.manageRolesSection .labels>div:nth-child(2) {
    min-width: 250px;
}

.manageRolesSection .labels>div:nth-child(5) {
    min-width: 120px;
}



/* =========================== */
/* =========================== */
/* =========================== */
/* Member */
.manageRolesSection .member>div {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
}

.manageRolesSection .member>div:nth-child(5) {
    min-width: 120px;
}

/* avatar */
.manageRolesSection .member .avatar {
    width: 80px;
    min-width: 80px;
}

.manageRolesSection .member .avatar img {
    width: 75%;
    border: 3px solid var(--main-clr);
}

/* name */
.manageRolesSection .member .nameAndEmail {
    min-width: 250px;
    flex-direction: column;
    gap: 5px;
}

.manageRolesSection .member .nameAndEmail p:nth-child(1) {
    color: var(--gray-dark);
    font-weight: 600;
}

/* role */
.manageRolesSection .role p {
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 5px 15px;
}

/* Manage Role */
.manageRolesSection .manageRole {
    position: relative;
}

.manageRolesSection .manageRole>div:nth-child(1) {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    transition: .25s;
    cursor: pointer;
    text-transform: capitalize;
    padding: 5px 8px;
}

.manageRolesSection .manageRole>div:nth-child(1):hover {
    opacity: .75;
}

.manageRolesSection .manageRole .initialValue {
    color: var(--gray);
}

.manageRolesSection .manageRole svg {
    font-size: .8rem;
    color: var(--gray-dark);
}

.manageRolesSection .manageRole .manageRoleDropdown {
    width: 150px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    transition: .25s;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 10;
}

.manageRolesSection .manageRole .manageRoleDropdown p {
    color: var(--gray-dark);
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
}

.manageRolesSection .manageRole .manageRoleDropdown p:hover {
    background-color: var(--border-color);
}

/* Assign btn */
.manageRolesSection .btns .assign {
    color: var(--green);
    border: 2px solid var(--green);
    font-weight: 600;
}

.manageRolesSection .btns .assign:hover {
    background-color: var(--green);
    color: var(--white);
}

/* ========================== */
/* ========================== */
/* ========================== */
/* Footer */
.manageRolesSection .sectionFooter {
    width: 100%;
}

/* ******************************** */
/* ******************************** */
/* ******************************** */
/* Javascript classes */
.manageRolesSection .manageRole .showManageRoleDropdown {
    transform: scaleY(1);
}