.messageBox {
    width: 100%;
    max-width: 500px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* Header */
.messageBox .boxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-clr-hover);
    padding: 10px;
}

/* Form */
.messageBox form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.messageBox form input,
.messageBox form textarea {
    border: none;
}

.messageBox form input {
    min-height: 50px;
}

.messageBox form textarea {}