@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #EDF2F4;
}

svg path {
  fill: #767676;
}

i {
  font-size: 1.25rem;
  cursor: pointer;
  transition: .25s;
}

i:hover {
  opacity: .5;
}